:root {
  --bg-color-category-news-active: #9CE990;
  --bg-color-category-news-inactive: #9CE99080;
  --bg-color-category-teachers-active: #E9C090;
  --bg-color-category-teachers-inactive: #E9C09080;
  --bg-color-category-help-active: #DB90E9;
  --bg-color-category-help-inactive: #DB90E980;
  --bg-color-search: #FFF;
  --border-color-create-post: #B0C0FF;
  --border-color-search: #B0C0FF;
  --border-color-input: #515151;
}