.Modal{
  position: fixed;
  inset: 0;
  pointer-events: none;
  opacity: 0;
}

.overlay{
  width: 100%;
  height: 100%;
  background: var(--overlay-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  border-radius: var(--border-radus-M);
  background-color: var(--modal-background-color);
  position: relative;
  padding: 40px;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  transition: 0.2s transform;
  transform: scale(0.3);
}

.opened{
  opacity: 1;
  pointer-events: auto;
  display: block;
  transition: 0.3s;

  .content{
    transform: scale(1);
  }
}

.closing{
  .content{
    transform: scale(0.3);
  }

  .overlay{
    opacity: 0;
    transition: 0.3s opacity;
  }
}

.iconClose{
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 24px;
  cursor: pointer;
}