.Modal{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
}

.opened{
  opacity: 1;
  pointer-events: auto;
  display: block;
  transition: 0.3s;
  .content{
    transform: scale(1);
  }
}
.closing{
  .content{
    transform: scale(0.3);
  }
  .overlay{
    opacity: 0;
    transition: 0.3s opacity;
  }
}
.overlay{
  width: 100%;
  height: 100%;
  background: var(--modal-overlay-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.content{
  border-radius: var(--border-radius-L);
  background-color: var(--modal-background-color);
  position: relative;
  padding: 40px;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  transition: 0.2s transform;
  transform: scale(0.3);
}
.iconClose{
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 24px;
  cursor: pointer;
}