.Comment{
  display: flex;
  color: var(--black);
  align-items: center;
  position: relative;
  gap: 16px;
  padding: 8px 0;
}
//Временный класс пока отсутсвует компонент UserIcon
.IconPlaceholder{
  width: 42px;
  height: 42px;
  background-color: var(--gray-text-color);
  border-radius: var(--border-circle);
  flex-basis: 42px;
}
.TextSection{
  display: flex;
  flex-direction: column;
  font-size: var(--font-m);
  flex-basis: 80%;
}
.UserName{
  font-weight: bolder;
}
.Reply{
  color: var(--gray-text-color);
  padding: 0;
  width: 100px;
  position: absolute;
  top: 5px;
  right: 5px;
}