.Wrapper {
  border-radius: 50%;
  overflow: hidden;
}

.BigImage {
  width: 184px;
  height: 184px;
}

.SmallImage {
  width: 64px;
  height: 64px;
}

.Image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}