.app.dark{
  --bg-color: #FFF;
  --primary-color: #fff;
  --secondary-color: #cecece;
  --primary-link-color: #792222;
  --secondary-link-color: #ce6a6a;

  // Модалка
  --modal-background-color: #f7f7f7;
}