.app.dark{
  --bg-color: #2D2A4C;
  --primary-color: #fff;
  --secondary-color: #cecece;

  --primary-link-color: #792222;
  --secondary-link-color: #ce6a6a;
  --btn-bg-color: #574FA6;
  --navbar-bg-color: #574FA6;
  --modal-background-color:#ffffff;
  --gray-text-color:#A0A0A0;
}