.default{
  border: none;
  border-radius: var(--border-radius-L);
  background-color: #D9D9D9;
  color: var(--input-background-color);
  height: 51px;
  width: 400px;
  padding-left: 20px;
}
.outlined{

}