.ToggleSwitch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    cursor: pointer;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .ToggleSlider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--bg-color);
        transition: .4s;
        border-radius: var(--border-radus-L);
    }

    input:checked + .ToggleSlider {
        background-color: var(--bg-color); 
    }

    .toggle__div {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 2px;
        transition: .4s;
    }
}
